@font-face {
    font-family: 'iconfont';  /* project id 140934 */
    src: url('//at.alicdn.com/t/font_140934_l9jp5zx67v81714i.eot');
    src: url('//at.alicdn.com/t/font_140934_l9jp5zx67v81714i.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_140934_l9jp5zx67v81714i.woff') format('woff'),
    url('//at.alicdn.com/t/font_140934_l9jp5zx67v81714i.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_140934_l9jp5zx67v81714i.svg#iconfont') format('svg');
  }
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    overflow: scroll;
    color: #333;
}
ul,li{
    list-style: none;
}
::-webkit-input-placeholder { /* WebKit browsers */ 
    color: #333; 
    font-size: 14px;
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
    color: #333; 
    font-size: 14px;
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
    color: #333; 
    font-size: 14px;
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
    color: #333; 
    font-size: 14px;
} 
.mui-page-content{
    width: 100%;
    height: 100%;
}
.myIcon {
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
}
.mui-row{
    padding: 0 30px;
}
/* 样式重置 */
.mui-media-body p{
    
    font-size: 14px;
}
.mui-input-row{
    border-bottom: 1px solid #f0f0f0;
    margin:0 15px;
}
.mui-input-row label{
    margin-left: 0;
    margin-right: 0;
}
.mui-input-row.no_border{
    border-bottom: none;
}
.mui-table-view:after{
    background: none;
}
p.s_category{
    padding: 8px 0 5px 0;
}
.mui-table-view-chevron .mui-table-view-cell{
    padding-right: 0;
}
.mui-media-body p{
    color: #666;
}
.mui-media-body p.s_name{
    padding: 15px 0;
    font-weight: bold;
    font-size: 18px;
    color: #333;
    line-height: 18px;
}
.mui-media-body p .student_id{
    display: inline;
    border: 1px solid #FC8D2C;
    padding: 2px 3px;
    color: #FC8D2C;
    border-radius: 3px;
    font-size: 12px;
    font-weight: normal;
}
.mui-col-sm-6{
    width: 50%;
}
/* 样式重置 */
.share_link a{
    display: inline-block;
    float: left;
    color: #fff;    
    line-height: 55px;
    font-size: 16px;
}
@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone4/4s */
    .share_link a{
       
        font-size: 14px;
    }
    .mui-table-view .mui-media-object.mui-pull-left{
        margin-right: 10px;
    }
}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone5 */
    .share_link a{
       
        font-size: 14px;
    }
    .mui-table-view .mui-media-object.mui-pull-left{
        margin-right: 10px;
    }
}

@media(min-device-width:375px)and(max-device-width:667px)and(-webkit-min-device-pixel-ratio:2){
    .share_link a{
       
        font-size: 14px;
    }
    .mui-table-view .mui-media-object.mui-pull-left{
        margin-right: 15px;
    }
}
@media(min-device-width:414px)and(max-device-width:736px)and(-webkit-min-device-pixel-ratio:3){
    .share_link a{
       
        font-size: 14px;
    }
    .mui-table-view .mui-media-object.mui-pull-left{
        margin-right: 15px;
    }
}
div.share_link{
    position: relative;
    background: #FC9A45;
    height: 55px;
    font-size: 16px;
    padding: 0 15px;
}

.share_link a img{
    width: 22px;
    vertical-align: middle;
}
.success_share{
    position: absolute;
    right: 15px;
}
.success_icon{
    padding-right: 5px; 
}
.qrcode_cont img{
    width: 100%;
    text-align: center;
    margin: 0 auto 5px auto;
}
.qrcode_cont p{
    text-align: center;
    color: #333;
}
.mui_masters{
    text-align: center;
    color: #999;
    font-size: 12px;
}

.mui-navbar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    height: 44px;
    background-color: #f7f7f8;
}

.mui-navbar .mui-bar {
    position: absolute;
    background: transparent;
    text-align: center;
}

.mui-android .mui-navbar-inner.mui-navbar-left {
    opacity: 0;
}


.mui-navbar .mui-btn-nav {
    -webkit-transition: none;
    transition: none;
    -webkit-transition-duration: .0s;
    transition-duration: .0s;
}

.mui-navbar .mui-bar .mui-title {
    display: inline-block;
    width: auto;
}

.mui-table-view {
    /* margin-top: 20px; */
    background: #f0f0f0;
}

.head-img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.mui-card{
    box-shadow: none;
    margin: 0;
}
.mui_title {
    padding: 11px 15px;
    color: grey;
    background: #F6F6F6;
}
.mui-content > .mui-card:first-child{
    margin-top: 0;
}
.m_qrcodes{
    margin-top: 24px;
}
/* 分享页面 */
.share_page{
    position: absolute;
    /* display: none; */
    z-index: 99;
    width: 100%;
    height: 100%;
    background: url(/img/share-bg.png) no-repeat;
    background-size: 100% 100%;
}
.share_page .share_info{
    position: absolute;
    width: 100%;
    height: 75%;
    bottom: 25%;
}
.share_info ul{
    position: absolute;
    width: 100%;
    left: 5%;  
   bottom: 5%;
}
.share_info ul li{
    padding: 3px 0;
    /* background: #fde6b3; */
}

.share_application{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 10%;
    top: 70%;
    line-height: 50px;
}
.share_qrcode{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 20%;
    bottom: 0;
}
.share_qrcode img{
    height: 70%;
}
.qrcode_examples_text img{
    width: 100%;
    height: 100%;
}
.cut-node{
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background: rgba(0, 0, 0, .2);
    z-index: 998;
}

.avatar-img {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 100px;
    margin-left:-50px;
    z-index: 999;
    border: 2px solid #dcdcdc;
    border-radius: 50px;
}
.avatar-img img {
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

#img2share{
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    opacity: 0;
}
/* 拍照 */
#headerImg{
    padding-right: 0;
}
